html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eceff1;
  overflow: hidden;
}