.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  flex: 1;
  height: 100%;
}

.side_layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right_view {
  flex: 1;
}

.viewcontent {
  height: 100%;
  padding: 24;
  text-align: 'center';
  overflow: auto;
}

.footer {
  height: 80px;
  line-height: 35px;
  padding: 0;
  background: #fff;
  text-align: center;
}

.aaa {
  color: aquamarine;
}